@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset */
:root{
        font-size: 16px;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        color: #333;
}

body {
        background-image: url("/images/bg.jpg");
        background-repeat: repeat-y;
        background-size: 100% auto;
}
/* 全域(手機) */       
.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:0;
        background-color: rgb(172, 229, 255);
}

.logo img {
    width: 30px;
    height: 30px;
    margin:10px 0px 10px 10px;
}

.menu {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 100px;
}

.menu i {
        color: #333;
        width: 32px;
        height: 32px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 30px;
}

.nav {
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
}
        
.nav-link {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
}

.nav-link:hover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: rgb(184, 79, 144);
        color: white;
}

/* 平板 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
        #Banner {
        background-image: url("/images/tablet/Banner.jpg");
        width: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        border-bottom-left-radius: 150px;
        background-size: cover;
        }
        .container {
        justify-content: flex-start;
        background-color:transparent;
        }
        .hero-info {
        width: 50%;
        }
        #About .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 50px;
        }
        .contact-group {
        justify-content: flex-start;
        }
        .section-title {
        text-align: left;
        }
        .intro-box {
        width: 40%;
        order: 0;
        text-align: left;
        }
        .intro-img {
        width: 55%;
        }
        .intro-img img {
        margin: 0;
        }
        #Work {
        display: flex;
        flex-direction: row;
        }

        #Work .container{
        margin: 150px 20px;
        }
        
        .sub-content {
        display: flex;
        flex-direction: column;
        }
}
/* 電腦 */
@media screen and (min-width: 1024px) {
        :root {
        font-size: 18px;
        }

        .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        /* margin: 19px 24px; */
        /* gap: 50px; */
        }

        .logo {
        margin-left: 230px;
        }

        .menu {
        display: none;
        justify-content: center;
        text-align: center;
        margin-left: 93px;
        }
        .nav {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        margin-right: 210px;
        font-family: "Jost", sans-serif;
        gap: 16px;
        }
        
        .nav-link {
        width: 65px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        }
        .nav-link1 {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        margin-right: 18px;
        }

.nav-link1 i {
        width: 21px;
        height: 21px;
        color: black;
}

.nav-link:hover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: rgb(184, 79, 144);
        color: white;
}
        #Banner {
        background-image: url("/images/Banner.jpg");
        background-size: 100%;
        height: 700px;
        background-position: bottom center;
        background-repeat: no-repeat;
        border-bottom-left-radius: 300px;
        background-size: cover;
        }
        .container {
        width: 80%;
        max-width: 1140px;
        /* justify-content: flex-start; */
        background-color:transparent;
        }
        .hero-info {
        width: 35%;       
        }
        #Work {
        display: flex;
        flex-direction: row;
        margin: 0 252px;
        }

        #Work .container{
        margin: 150px 0;
        padding: 0;
        }
        
        .sub-content {
        display: flex;
        flex-direction: column;
        }


}